/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

Solufx
{
	-fx-border-style: solid;
	-fx-border-color: black;
	-fx-background-color: grey; 
}

Label
{
	-fx-color: black;
}

