/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

Solufx
{
	-fx-border-radius: 0.7;
	-fx-border-style: solid;
	-fx-border-color: black;
	-fx-background-color: #757575; 
	-fx-effect: innershadow(three-pass-box, rgba(180,180,180,0.5), 10, 0, 3, 3);
}

Solufx:hover 
{
	-fx-background-color: #8f8f8f;
}

GridPane 
{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);	
}

.peliLabel
{
	-fx-text-fill: black;
    -fx-font-size: 20px;
 	-fx-font-weight: bold
}